@import "./vars-main.scss";
@import "./global-styles.scss";

* {
    box-sizing: border-box;
    font-family: $global-font-family;
}

#main-content {
    height: 100vh;
    width: 100vw;
    background: $background-dark-gradient-theme;

    .frame {
        @include frame(25vh, 65vw, rgb(48, 48, 48));
        position: absolute;
    }

    .top-frame {
        transform: rotate(-15deg);
        height: 30vh;
        top: -18vh;
        left: -40px;
    }
    
    .left-frame {
        transform: rotate(-65deg);
        left: -27vw;
    }
}


/* -------------------------- */
/* --------- NAVBAR --------- */
/* -------------------------- */

#navbar {
    height: $navbar-height;
    width: 100vw;
    position: relative;
    display: flex;
    z-index: 10;

    h3 {
        @include noMargin();
        @include casualTextColor();
    }

    .nav-section {
        position: absolute;
        height: 100%;

        @include flexVertical();
    }
    
    .nav-buttons {
        width: 30%;
        right: 10%;
        display: flex;
        justify-content: space-between;

        .nav-button {
            height: $standard-button-height;
            font-size: 1rem;
            font-weight: bold;
            background: transparent;

            @include standardButton();
            @include casualTextColor();
        }
    }

    .nav-logo {
        position: absolute;
        left: 5%;
        width: 7%;
        user-select: none;
    }
}


/* ----------------------------- */
/* --------- HOME PAGE --------- */
/* ----------------------------- */

.home-page-section {
    @include section(100vh - $navbar-height);

    .hp-content-section {
        height: 100%;
        width: 50%;
    }
    
    .hp-description-section {
        padding-right: 5%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: end;
        
        h1 {
            font-size: 3rem;
            margin-bottom: 0;

            @include casualTextColor();
        }

        h4 {
            margin: 0;
            letter-spacing: 3px;

            @include colorText();
        }

        .hp-desc-text {
            margin: 3% 0 3% 0;
            width: 70%;
            text-align: end;
            span {
                font-size: 0.8rem;

                @include casualTextColor();
            }
        }

        .hp-contact-buttons {
            height: 10vh;
            width: 20%;
            justify-content: space-around;

            @include flexVertical();
            .contact-button {
                height: 40px;
                width: 40px;
                transition: all 200ms ease-in-out
            }
            
            .contact-button:hover {
                height: 45px;
                width: 45px;
            }
            
            .contact-button-icon {
                height: 100%;
                width: 100%;
            }
        }
    }

    .hp-image-section {
        @include flexVertical();
    }

    .img-bg-overlay {
        height: 400px;
        width: 400px;
        border-radius: 50%;
        border: 1px solid rgb(219, 219, 219); 

        @include flexCentered();
    }
    
    .img-bg {
        height: 340px;
        width: 340px;
        border-radius: 50%;
        background: $main-gradient-theme;
        opacity: 10%;
    }
}



/* ------------------------------ */
/* ---------- PROJECTS ---------- */
/* ------------------------------ */


.projects-section {
    @include section(80vh);
    flex-direction: column;
    justify-content: center;
    background: $background-light-gradient-theme;
    padding-bottom: 5%;

    .projects-section-header {
        h1 {
            margin-top: 0;
            margin-bottom: 5%;
            color: $casual-dark-font-color;
        }
    }

    .project-items {
        margin: 0 auto;
        width: 80%;
        height: 60%;
        display: grid;
        grid-template-columns: repeat(3, 30%);
        justify-content: space-between;
        align-items: center;
    
        a {
            text-decoration: none;
            height: 100%;
            border-radius: 8px;

            .project-item-container {
                flex-grow: 1;
                height: 100%;
                position: relative;
                color: $casual-dark-font-color;
                transition: all 250ms ease-in-out;
                border-radius: 8px;
                box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.267);
                overflow: hidden;

                &:hover {
                    transform: scale(1.15);
                    box-shadow: 0px 0px 20px 0px rgba(4, 255, 230, 0.7);
                
                    .pi-name {
                        animation-name: slideRight;
                        animation-duration: 350ms;
                        animation-direction: alternate;
                        animation-fill-mode: both;
                    }

                    .proj-img {
                        filter: brightness(50%);
                    }

                    .pi-logo-section {
                        animation-name: logoSlide;
                        animation-duration: 170ms;
                        animation-direction: alternate;
                        animation-fill-mode: both;
                        animation-delay: 100ms;
                    }
                }

                @keyframes slideRight {
                        0% {
                            opacity: 100%;
                        }
                        25% {
                            opacity: 75%;
                        }
                        50% {
                            opacity: 50%;
                        }
                        75% {
                            opacity: 25%;
                        }
                        100% {
                            opacity: 0%;
                        }
                    }

                @keyframes logoSlide {
                    0% {
                        transform: translateY(110%);
                    }
                    25% {
                        transform: translateY(75%);
                    }
                    50% {
                        transform: translateY(50%);
                    }
                    75% {
                        transform: translateY(25%);
                    }
                    100% {
                        transform: translateY(0%);
                    }
                }

                .pi-img {
                    height: 60%;
                    position: relative;
                    display: flex;
                    justify-content: center;
                    overflow-y: hidden;

                    img {
                        width: 100%;
                        height: 100%;
                        background: rgb(210, 210, 210);
                        border-radius: 8px 8px 0 0;
                        transition: all 350ms ease-in-out;
                    }

                    h3 {
                        position: absolute;
                        top: 25%;
                        width: 100%;
                        letter-spacing: 1px;
                        font-size: 1.6rem;
                    }

                    .pi-logo-section {
                        position: absolute;
                        top: 0;
                        transform: translateY(110%);
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        height: 100%;
                        width: 80%;
                        margin-left: auto;
                        margin-right: auto;

                        .pi-ls-header {
                            margin-bottom: 5%;

                            span {
                                color: white;
                                font-weight: bold;
                            }
                        }

                        .pi-ls-images {
                            display: flex;
                            justify-content: space-around;
                        }

                        img {
                            height: 70px;
                            width: 70px;
                            margin: auto 0;
                            z-index: 10;
                            background: transparent;
                        }
                    }
                }

                .pi-text {
                    height: 40%;
                    padding: 0 5% 0 5%;

                    p {
                        text-align: justify;
                    }
                }
            }
        }
    }
}



/* ---------------------------------- */
/* ---------- TECHNOLOGIES ---------- */
/* ---------------------------------- */


.technologies-section {
    @include section(100vh);
    @include flexCentered();
    background: $background-dark-gradient-theme;
    flex-direction: column;

    .technologies-section-header {
        margin-bottom: 5%;

        h1 {
            color: $casual-font-color;
        }
    }

    .technologies-content-section  {
        @include flexVertical();
        width: 70%;
        justify-content: space-around;

        img {
            height: 100px;
            width: 100px;
        }

        h2 {
            color: $casual-font-color;
        }
    }
}