/* ----------------------------- */
/* --------- VARIABLES --------- */
/* ----------------------------- */


$navbar-height: 10vh;

$standard-button-height: 30px;

$global-font-family: "Onest";
$casual-font-color: white;
$casual-dark-font-color: rgb(39, 39, 39);
$main-gradient-theme: linear-gradient(to top left, rgb(4, 255, 230), rgb(4, 192, 255));
$main-color-theme: rgb(4, 255, 230);

$background-dark-gradient-theme: linear-gradient(to top left, rgb(7, 6, 10), rgb(63, 63, 63) 85%);
$background-light-gradient-theme: linear-gradient(to top right, rgb(235, 235, 235), white 70%);